.tag-cloud {
    width: 30%;
    margin-left: 30px;
    text-align: center;
    padding: 5px;
    border: 1px solid orange;
    background-color: #ffc;
}

.tag-1 {font-size: 12px;}

.tag-2 {font-size: 14px;}

.tag-3 {font-size: 16px;}

.tag-4 {font-size: 18px;}

.tag-5 {font-size: 20px;}

.tag-6 {font-size: 24px;}
